.w100.h100

	.column-center-center

		%br
		%br
		%br
		%h2 Edit list
		%br
		.new-list.column-between-center(style="width: 800px")
			= form_for @project do |form|
				%h6.row-center-center List's name:
				%p= form.text_field :name, size: 69, :id => "add_list_field"
				%br
				.row-center-center
					%p= form.submit "  Save  ", :id => "create_todo"
			
		%br
		.column-end-center
			%h4= link_to 'Back', projects_path
