/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";
@import "flexbox";
@import "font-awesome";
@import 'bootstrap-datetimepicker';


html {
  display: block;
  width: 100%;
  height: 100%;
}

body {
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
  left: 0px;
  background-image:url('111.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #464646;
}

.father {
  height: 200px;
}

.lists {
  width: 800px;
}

.add-task {
  height: 50px;
  padding: 10px;
  border: solid 1px grey;
  background: linear-gradient(#dfdfdf, #cbcbcb);
}

.list-header {
  height: 50px;
  padding: 10px;
  font-size: 20px;
  color: white;
  background: linear-gradient(#577eb1, #3d5c84);
  border-right: solid 1px grey;
  border-left: solid 1px grey;
  border-top: solid 1px grey;
}

.glyphicon-list-alt {
  width: 7%;
  color: #142841;
}

.glyphicon-plus {
  width: 5%;
  font-size:22px;
  color:#5e826e;
}

.fa-plus {
  color:#324664;
}

.pr-name {
  width: 73%;
}

.tasks-list {
  color: grey;
}

.header-btn {
  color: #4a69a5;
  width: 20%;
}

.one-task {
  height: 50px;
  border-top: solid 1px lightgrey;
  background-color: white;
  border-bottom-style: solid 1px white;
  border-right: solid 1px grey;
  border-left: solid 1px grey;
  color: grey;
}

.task-name-field {
  width: 62%;
  border-right-style: solid;
  border-width: 1px;
  border-right-color: white;
  padding: 10px;
}

.status-bar {
  width: 6%;
  border-right-style: double;
  border-width: 5px;
  border-color: #ecdbdf;
  padding: 10px;
}

.task-btn {
  width: 12%;
  padding: 10px;
}

.status-bar {
  padding: 15px;
}

.new-list {
  padding: 10px;
  border: solid 1px grey;
  background: linear-gradient(#dfdfdf, #a0a0a0);
}

.glyphicon-pencil {
  color: grey;
}

.glyphicon-trash {
  color: grey;
}

.fa {
  color: grey;
}

.one-task:hover {
  background-color:#fdfdd9;
}

.one-task:last-child {
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  border-bottom: solid 1px grey;
}

.deadline {
  width: 20%;
  padding: 10px;
  border-right: solid 1px lightgrey;
}

.deadnum {
  height: 25px;
  width: 140px;
  color: #b25353;
  padding: 4px;
  font-size: 12px;
  text-align: center;
  border-radius: 3px;
}

.deadline-form {
  font-size: 16px;
}

.up-n-down-btn {
  width: 35%;
}

#add_list_btn {
  color: white;
  padding: 10px;
  background: linear-gradient(#577eb1, #3d5c84);
}

#rubygarage {
  color: white;
}

#add_task_btn {
  color: white;
  background: linear-gradient(#a1c7b1, #5e826e);
  padding: 5px;
  border-color: #536f5f;
}

#add_task_field {
  font-size: 18px;
  box-shadow: -1px -1px 10px 0px grey inset;
}

#add_list_field {
  font-size: 18px;
}

#create_todo {
  color: white;
  background: linear-gradient(#a1c7b1, #5e826e);
  padding: 5px;
  border-color: #536f5f;
  font-size: 18px;
}
